body{
    padding: 0;
    margin: 0;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
.ps5{
    width: 50%;
    height: 100%;
    left: 0;
    background-image: url('https://50projects50days.com/projects/split-landing-page/ps.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transition: 1s all;
    transition-timing-function: ease-out;
}
.ps5::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(87, 84, 236, 0.7);
    z-index: -1;
}
h2{
    font-size: 30px;
    color:white;
    white-space: nowrap;
}
button{
    outline: 0;
    border: 3px solid white;
    padding:12px 40px;
    font-size: 10px;
    background:transparent;
    color: white;
}
.xbox{
    width: 50%;
    height: 100%;
    right: 0;
    background-image: url('https://50projects50days.com/projects/split-landing-page/xbox.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transition: 1s all;
    transition-timing-function: ease-out;
}
.xbox::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(43, 43, 43, 0.8);
    z-index: -1;
}
section .ps5:hover{
    width: 80%;
    z-index: 100;
}
section .xbox:hover{
    width: 80%;
    z-index: 100;
}