body{
    margin: 0;
    padding: 0;
    background-color: #efedd6;
    overflow-x: hidden;
}
.container{
    width: 40%;
    min-height: 100vh;
    // background: red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 1.7rem;
        text-align: center;
        // color: white;
    }
    .box{
        margin-top: 20px;
        background: steelblue;
        width:70%;
        height: 25vh;
        border-radius:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px 0 #000;
        h2{
            font-size: 1.7rem;
            text-align: center;
            color: white;
        }
    }
}